body {
  margin: 0;
}

.view-container {
  display: flex;
}

.sidenavi-container {
  width: 5em;
  height: 100vh;
  flex-grow: 0;
  z-index: 1;
  overflow: visible;
}

.mainarea-container {
  flex-grow: 1;
  padding: 1em 2em;
}
