body {
  margin: 0;
}

.view-container {
  display: flex;
}

.sidenavi-container {
  width: 5em;
  height: 100vh;
  flex-grow: 0;
  overflow: scroll;
}

.mainarea-container {
  flex-grow: 1;
  padding: 2em;
}