.light {
  background-color: #E3E5E9;
  color: #4F5760;

  .text-high {
    color: #060606 !important;
  }

  .text-medium {
    color: #4F5760 !important;
  }

  .sidenavi-container {

  }

  .mainarea-container {
    background-color: #ffffff;
  }
}